/* CSS Reset */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Mobile Layout Trail*/

body {
    width: 512px;
    background-color:#191D7B;
}

/* Header */

.header {
    max-width: 512px;
    width:100%;
}

.header-banner {
    height: 200px;
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position: bottom;
}
